<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191584548678-qpeli3l8v2aj1kv5iqdku3pc63d8mrpb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191584548678-qpeli3l8v2aj1kv5iqdku3pc63d8mrpb</string>
	<key>API_KEY</key>
	<string>AIzaSyCfXVVRdVdvdbMJ2kqmFyisIxrEJcpRyD0</string>
	<key>GCM_SENDER_ID</key>
	<string>191584548678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cabuserapp</string>
	<key>PROJECT_ID</key>
	<string>uber-ola-and-indriver-90f69</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-ola-and-indriver-90f69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191584548678:ios:f8c2fe6352d2350ebbd747</string>
	<key>DATABASE_URL</key>
	<string>https://uber-ola-and-indriver-90f69-default-rtdb.firebaseio.com</string>
</dict>
</plist>